<body>
<div class="header">
  <ul class="lista">
    <li class="logo">
      <a routerLink="/produto">
        <img src="assets/logojardimencantado.jpg" alt="Logo" />
        Jardim Encantado
      </a>
    </li>
    <li class="login">
      <a routerLink="/login">
        <img src="assets/sign_out.png" height="35" width="35" alt="Sign Out" />
      </a>
    </li>
  </ul>
</div>

<div class="container">
  <table>
    <caption class="borda">
      <h3>ESTOQUE DE FLORES</h3>
    </caption>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Quantidade</th>
        <th>Preço Unitário</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tbody>
            @for (produto of listaprodutos; track produto){
                <tr>
                    <td>{{produto.id}}</td>
                    <td>{{produto.nome}}</td>
                    <td>{{produto.tipo}}</td>
                    <td>{{produto.quantidade}}</td>
                    <td>{{produto.precounit}}</td>
                    <td>
                        <button class="editar" [routerLink]="['alterar', produto.id]">editar</button>

                        <button class="excluir" (click)="excluir(produto.id!)">excluir</button>
                        
                    </td>
                </tr>
            }
        </tbody>
  </table>

  <button id="adicionar" class="adicionar">Adicionar Item</button>
</div>
</body>
