<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h3>Presentes</h3>
        <ul>
          <li><a routerLink="/novidades">Novidades</a></li>
          <li><a routerLink="/products">Dia dos namorados</a></li>
          <li><a routerLink="/outlet">Cestas</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Ajuda e suporte</h3>
        <ul>
          <li><a routerLink="/novidades">Central de atendimento</a></li>
          <li><a routerLink="/products">Trocas e devoluções</a></li>
          <li><a routerLink="/outlet">Privacidade e segurança</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Institucional</h3>
        <ul>
          <li><a routerLink="/about">Quem Somos</a></li>
          <li><a routerLink="/trabalhe-conosco">Trabalhe Conosco</a></li>
          <li><a routerLink="/termos">Termos de Uso</a></li>
          <li><a routerLink="/privacidade">Política de Privacidade</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Flores</h3>
        <ul>
          <li><a routerLink="/nike">Rosas</a></li>
          <li><a routerLink="/adidas">Tulipas</a></li>
          <li><a routerLink="/puma">Orquídeas</a></li>
          <li><a routerLink="/newbalance">Girassóis</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">© 2025 Todos os direitos reservados.</div>
  </footer>