<div class="header">
  <div class="logo">
    <a routerLink="">
        <img src="assets/LogoSemFundo.png" alt="Logo" />
        Jardim Encantado
      </a>
  </div>
  <ul class="nav-lista">
    <li class="imagemlogin">
      <a routerLink="/login">
        <img alt="Login" height="40" width="40" src="assets/Login.png" />
      </a>
    </li>
    <li class="nav">
      <a id="botao-nav" href="#">Buquês</a>
      <ul class="dropdown">
        <li><a routerLink="/buques/rosas">Rosas</a></li>
        <li><a routerLink="/buques/brancas">Brancas</a></li>
        <li><a routerLink="/buques/amarelas">Amarelas</a></li>
        <li><a routerLink="/buques/laranjas">Laranjas</a></li>
        <li><a routerLink="/buques/lilas">Lilás</a></li>
        <li><a routerLink="/buques/roxas">Roxas</a></li>
      </ul>
    </li>
    <li class="nav">
      <a id="botao-nav" href="#">Conjuntos</a>
      <ul class="dropdown">
        <li><a routerLink="/conjuntos/rosa-branco">Rosa + Branco</a></li>
        <li><a routerLink="/conjuntos/amarelo-branco">Amarelo + Branco</a></li>
        <li><a routerLink="/conjuntos/laranja-branco">Laranja + Branco</a></li>
        <li><a routerLink="/conjuntos/lilas-branco">Lilás + Branco</a></li>
        <li><a routerLink="/conjuntos/roxo-branco">Roxo + Branco</a></li>
      </ul>
    </li>
    <li class="nav">
      <a id="botao-nav" href="#">Mudas para jardim</a>
      <ul class="dropdown">
        <li><a routerLink="/mudas/gerbera">Gérbera</a></li>
        <li><a routerLink="/mudas/iris">Íris</a></li>
        <li><a routerLink="/mudas/mini-margarida">Mini Margarida</a></li>
        <li><a routerLink="/mudas/boca-de-leao">Boca de Leão</a></li>
        <li><a routerLink="/mudas/crisantemo">Crisântemo</a></li>
        <li><a routerLink="/mudas/hortensia">Hortênsia</a></li>
        <li><a routerLink="/mudas/tulipa">Tulipa</a></li>
        <li><a routerLink="/mudas/girassol">Girassol</a></li>
      </ul>
    </li>
    <li class="nav">
      <a id="botao-nav" routerLink="/personalizado">Personalizado</a>
    </li>
    <li class="imagem">
      <a routerLink="/carrinho">
        <img alt="Carrinho" height="40" width="40" src="assets/carrinho.png" />
      </a>
    </li>
  </ul>
</div>

<div class="con">
    sdfvtrgvf
</div>

<app-footer></app-footer>